In [1]:
#Import Packages

# Data analysis
import pandas as pd
import numpy as np
import requests

# Data cleaning
import re

# Tokenizing words
import spacy
from spacy.tokenizer import Tokenizer
from collections import Counter

# TFIDF
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Encoding
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
from sqlalchemy import create_engine
import numpy as np
from sklearn import preprocessing  # for category encoder
from sklearn.neighbors import NearestNeighbors
from sklearn.model_selection import train_test_split
from typing import List, Tuple

## Wrangle

In [3]:
spot = pd.read_csv('https://raw.githubusercontent.com/rowaishanna/sp/master/Spotifyfeatures_reducedsize.csv')
print(spot.shape)
spot.head()

(165331, 18)

  genre     artist_name  ... time_signature valence
0   R&B   Mary J. Blige  ...          4-Apr  0.6930
1   R&B         Rihanna  ...          4-Mar  0.3230
2   R&B       Yung Bleu  ...          4-Apr  0.0862
3   R&B        Surfaces  ...          4-Apr  0.7680
4   R&B  Olivia O'Brien  ...          4-Apr  0.4660

[5 rows x 18 columns]

In [5]:
spot = spot.sample(frac=.2, axis = 0)
spot.shape

(16533, 18)

In [6]:
# Label encode genre
le= LabelEncoder()
spot['genre'] = le.fit_transform(spot['genre'])
spot['time_signature'] = le.fit_transform(spot['time_signature'])
spot['mode'] = le.fit_transform(spot['mode'])
spot['key'] = le.fit_transform(spot['key'])

# Copy dataframe
spot2=spot.copy()

In [7]:
# Combine text columns for tokenization
col_combine = ['artist_name', 'track_name']

# Lowercase and regex
for each in col_combine:
  spot2[each]= spot2[each].apply(lambda x:x.lower())
  spot2[each]= spot2[each].apply(lambda x: re.sub('[^a-zA-Z 0-9]', ' ', x))

# Combine two columns with text
spot2['combined_text'] = spot2['combined_text'] = spot2['artist_name'] + spot2['track_name'] 

# Remove repetitive columns
spot2= spot2.drop(['artist_name', 'track_name', 'track_id'], axis = 1)

In [8]:
spot2.head()

        genre  ...                                      combined_text
96532       3  ...  anton n dvo  kserenade f r streicher  op  22  ...
82680      14  ...                      eazy eboyz n the hood   remix
44099       2  ...                                white denimny money
148429     18  ...                                 erykah baduincense
39634       2  ...                        ty segallorange color queen

[5 rows x 16 columns]

In [9]:
spot2_sub = spot2.drop(['combined_text'], axis = 1)
spot2_sub.shape

(16533, 15)

In [12]:
spot2_sub.head()

        genre  popularity  acousticness  ...    tempo  time_signature  valence
117925     12          54       0.00877  ...  130.899               1    0.574
76811      12          72       0.05900  ...  104.971               1    0.240
54098       9          74       0.20400  ...  189.891               1    0.483
129593     16          27       0.11900  ...   83.987               1    0.672
114579     11          39       0.97600  ...   95.063               1    0.738

[5 rows x 15 columns]

In [10]:
scaler = StandardScaler()
scaler.fit(spot2_sub)
scaled_df = pd.DataFrame(scaler.transform(spot2_sub))
print(scaled_df.shape)
scaled_df.head()

(16533, 15)

         0         1         2   ...        12        13        14
0 -1.263904 -1.281671  1.817394  ... -1.259980 -0.347991 -1.687020
1  0.857295  0.878483 -0.874509  ... -1.005270 -0.347991  1.322560
2 -1.456741 -0.954375 -0.987558  ...  1.842979 -0.347991  1.495619
3  1.628641 -0.561620  1.280660  ... -0.980138 -0.347991 -0.494561
4 -1.456741 -0.365242  0.545701  ... -1.358072 -0.347991 -0.770631

[5 rows x 15 columns]

## Spacy

In [86]:
from pandas import Panel
from tqdm import tqdm
tqdm.pandas()

In [87]:
# Get lemmas

spot2['lemmas'] = spot2['combined_text'].progress_apply(get_lemmas)
spot2['lemmas'].head()

100%|██████████| 165331/165331 [23:31<00:00, 117.17it/s]

0    [mary, j,  , bligebe,   , kendu, mix2YegxR5As7...
1             [rihannadesperado6KFaHC9G178beAp7P0Vi5S]
2    [yung, bleuice, baby,  , feat,  , kevin, gates...
3    [surfacesheaven, fall,   , fall, me7yhqozfsxyl...
4    [olivia, o, brienlove, myself4XzgjxGKqULifVf7m...
Name: lemmas, dtype: object

### TFIDF

In [11]:
# Set up TFIDF
# Instantiate vectorizer object

def tokenize(document):
    
    doc = nlp(document)
    
    return [token.lemma_.strip() for token in doc if (token.is_stop != True) and (token.is_punct != True)]

tfidf = TfidfVectorizer(
    stop_words = 'english',
    # tokenizer = tokenize,
    ngram_range = (1,1),
    min_df = 1, 
    max_df = 0.9,
    max_features = 1000)

In [12]:
# Create a vocabulary and tf-idf score per document
text = spot2['combined_text']
dtm = tfidf.fit_transform(text)

In [18]:
spot2.shape

(82666, 16)

In [19]:
# Get feature names to use as dataframe column headers
dtm = pd.DataFrame(dtm.todense(), columns=tfidf.get_feature_names())

# View Feature Matrix as DataFrame
print(dtm.shape)
dtm.head()

(82666, 1000)

    10   11   12  120   13   14   15  ...  young  yung  zac  zero  ziggy  zion   zz
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0   0.0  0.0   0.0    0.0   0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0   0.0  0.0   0.0    0.0   0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0   0.0  0.0   0.0    0.0   0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0   0.0  0.0   0.0    0.0   0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0   0.0  0.0   0.0    0.0   0.0  0.0

[5 rows x 1000 columns]

In [16]:
combined_df=pd.concat([scaled_df, dtm], axis = 1)
combined_df.shape

(82666, 1015)

# Similarity Recommender
## A.  Nearest Neighbors

In [27]:
nn = NearestNeighbors(n_neighbors=6)

In [28]:
nn.fit(combined_df)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=6, p=2,
                 radius=1.0)

In [41]:
# looking for similar song to 1st entry in DF
a = nn.kneighbors([combined_df.iloc[0].values])

In [42]:
# Distances of the first 5 from inquired song
a[0]

array([[0.        , 0.77401582, 1.33124212, 1.3541948 , 1.39629676,
        1.40528003]])

In [74]:
# Song identifiers
a[1]

array([[    0, 11271,  7246, 59453, 68459, 69788]])

In [75]:
# Closest one

a[1][0][1]

11271

In [52]:
spot.columns

Index(['genre', 'artist_name', 'track_name', 'track_id', 'popularity',
       'acousticness', 'danceability', 'duration_ms', 'energy',
       'instrumentalness', 'key', 'liveness', 'loudness', 'mode',
       'speechiness', 'tempo', 'time_signature', 'valence'],
      dtype='object')

In [73]:
print(spot['artist_name'][0], spot['track_name'][0])  # inquiry

print(spot['artist_name'][11271], spot['track_name'][11271])  # similar 1
print(spot['artist_name'][11271], spot['track_name'][11271])
#print(spot['artist_name'][68459], spot['track_name'][68459])

Mary J. Blige Be Without You - Kendu Mix
Modest Mouse The Ground Walks, with Time in a Box
Modest Mouse The Ground Walks, with Time in a Box

# Similarity Recommender
## Cosine Similarity

In [13]:
# Calculate Distance of TF-IDF Vectors
from sklearn.metrics.pairwise import cosine_similarity

In [15]:
# Calculate Distance of TF-IDF Vectors
dist_matrix  = cosine_similarity(dtm)

In [16]:
# Turn it into a DataFrame
cosine_df = pd.DataFrame(dist_matrix)
print(cosine_df.shape)
cosine_df.head()

(16533, 16533)

   0      1      2      3      4      ...  16528  16529  16530  16531  16532
0    1.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
1    0.0    1.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
2    0.0    0.0    1.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
3    0.0    0.0    0.0    1.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
4    0.0    0.0    0.0    0.0    1.0  ...    0.0    0.0    0.0    0.0    0.0

[5 rows x 16533 columns]

In [21]:
# Verify it was added
leng = len(spot)-1
spot.iloc[leng]

genre                                           7
artist_name                                Tchami
track_name          Move Your Body (Future House)
track_id                   5fFEgmLAbNG75zKPn3hXOO
popularity                                     46
acousticness                              0.00424
danceability                                0.818
duration_ms                                219429
energy                                       0.87
instrumentalness                            0.196
key                                             0
liveness                                   0.0429
loudness                                   -5.162
mode                                            0
speechiness                                0.0493
tempo                                     123.999
time_signature                                  0
valence                                     0.741
Name: 25045, dtype: object

In [17]:
# # Grab the top 5 most similar strains to the custom strain at the start.
last_cosine = len(cosine_df)-1
cosine_results = cosine_df[cosine_df[0] < 1][last_cosine].sort_values(ascending=False)[1:6]
cosine_results =  pd.DataFrame(cosine_results)
cosine_results = cosine_results.reset_index()
cos_results = cosine_results['index'].values.tolist()
cos_results

[4678, 1803, 9873, 9472, 7437]

In [24]:
# Check results
print('----------------------------')
print('----------------------------')
print(f"Seed song:") 
print(f"{spot.iloc[leng]}")
print('----------------------------')
print('----------------------------')
print('Similar songs:')
print('----------------------------')
for each in cos_results:
  print(spot.iloc[each])

----------------------------
----------------------------
Seed song:
genre                                           7
artist_name                                Tchami
track_name          Move Your Body (Future House)
track_id                   5fFEgmLAbNG75zKPn3hXOO
popularity                                     46
acousticness                              0.00424
danceability                                0.818
duration_ms                                219429
energy                                       0.87
instrumentalness                            0.196
key                                             0
liveness                                   0.0429
loudness                                   -5.162
mode                                            0
speechiness                                0.0493
tempo                                     123.999
time_signature                                  0
valence                                     0.741
Name: 25045, dtype: object
----------------------------
----------------------------
Similar songs:
----------------------------
genre                                    11
artist_name                      José James
track_name          It's All Over Your Body
track_id             34SwQdAVVBhh2EZVW61u6G
popularity                               38
acousticness                          0.173
danceability                           0.72
duration_ms                          329253
energy                                0.241
instrumentalness                      0.418
key                                       4
liveness                              0.078
loudness                            -11.265
mode                                      0
speechiness                            0.19
tempo                                85.029
time_signature                            0
valence                               0.444
Name: 145003, dtype: object
genre                                   18
artist_name                            LSG
track_name                         My Body
track_id            6PyLw3l6ndolBrTPQp3Ibm
popularity                              57
acousticness                         0.244
danceability                         0.721
duration_ms                         247133
energy                               0.431
instrumentalness                         0
key                                      4
liveness                            0.0886
loudness                            -6.633
mode                                     0
speechiness                          0.045
tempo                               119.76
time_signature                           0
valence                              0.318
Name: 146971, dtype: object
genre                                    6
artist_name                 Future Islands
track_name                             Ran
track_id            5GxeKtNdjSVAZTfxSsnXhF
popularity                              57
acousticness                       0.00252
danceability                         0.465
duration_ms                         205587
energy                               0.701
instrumentalness                    0.0447
key                                     10
liveness                            0.0683
loudness                            -6.828
mode                                     1
speechiness                         0.0337
tempo                              144.931
time_signature                           3
valence                               0.38
Name: 18184, dtype: object
genre                                    8
artist_name                          Dawes
track_name            Living In The Future
track_id            08wbZAPUMj2BrzPuvAUBCA
popularity                              43
acousticness                         0.288
danceability                         0.565
duration_ms                         290757
energy                               0.508
instrumentalness                  0.000817
key                                      2
liveness                              0.18
loudness                            -5.671
mode                                     1
speechiness                         0.0306
tempo                              127.496
time_signature                           0
valence                              0.474
Name: 51167, dtype: object
genre                                    1
artist_name                        TobyMac
track_name                    Hello Future
track_id            3F8AU7SP5qqUSwBJD8FErz
popularity                              41
acousticness                        0.0967
danceability                         0.766
duration_ms                         162320
energy                               0.428
instrumentalness                    0.0237
key                                      9
liveness                               0.1
loudness                            -8.653
mode                                     1
speechiness                         0.0485
tempo                               91.013
time_signature                           0
valence                              0.565
Name: 12867, dtype: object